.container{
			position: absolute;
		 	width: 100%;
			height: 100%;
		}
		.backgr{
			background:url(../img/0.jpg) no-repeat; 
			background-size:100% 100%;
			width: 100%;
			height: 100%;
			text-align: center;
			/*position: relative;*/
		
		}
		.top{
			/*border: 1px solid #FFF;*/
			height:24%;
			background:url(../img/logo_bj.png) no-repeat;
			background-size:100% 100%;
			padding-top:3%;
		}
		.top p{
			font-family: "微软雅黑";
			font-size: 26px;
			color: #fff;
			margin-top:1%;
		}
		.center{
			/*border:1px solid red;*/
			height: 70%;
			position: relative;
		}
		.sign{
			width:328px;
			height: 70%;
			background:url(../img/loginC.png) no-repeat;
			background-size:100% 100%;
			margin:0 auto;
			position: relative;
		}
		.copyright{
			font-family: "微软雅黑";
			color: #c4c4c4;
			font-size: 12px;
			position: absolute;
			left: 50%;
			bottom:20px ;
			margin-left: -100px;
			line-height: 24px;
		}
		input{
        width: 200px;
        height: 30px;
        border-radius: 6px;
        margin: 10px 0;
        background:url(../img/number.png) no-repeat;
        background-color: white;
        background-position: 3px;
        padding-left: 30px;
        border: 1px solid #ADADAD;
        outline: none;
        margin: 0;
        margin-bottom: 18px;
        color: #d0d0d0;
        font-family: "微软雅黑";
      }
      .Password{
      	background:url(../img/Password.png) no-repeat;
        background-color: white;
        background-position: 3px;
      }
      button{
      	border:none;
      	width:230px;
      	height: 39px;
      	border-radius: 6px;
      	background:#f7a633;
      	color:#fff;
      }
      .shurukuang{
      	width: 100%;
      	position: absolute;
      	top:40%;
      	left: 0%;
      }
      .denglu{
      	margin-top:5%;
      	font-size: 14px;
      	font-family: "微软雅黑";
      }
      .list{
      	width:65%;
      	display:-webkit-box;
	    display:-webkit-flex;
	    display:-ms-flexbox;
	    display:flex;
	    -webkit-box-pack:justify;
	    -webkit-justify-content:space-between;
	    -ms-flex-pack:justify;
	    justify-content:space-between;
	    height: 20px;
	    line-height: 20px;
	   	padding:0 60px;
	   	
      }
      .list a{color: #7d7d7d;}
      ul{
      	  text-align:justify;
    	  text-align-last:justify;
      }
      ul li{
      	float:left;
      	font-size: 12px;
      	font-family: "微软雅黑";
      }
      .fuxuan{
      	width:13px;
      	height: 13px;
      }
      .forget{
      	text-align: right;
      }